@import "../../common/Colors.scss"; 
@import "../../common/GlobalStyle.scss"; 

.todolist{
    display         : flex;
    flex-direction  : column;
    justify-content : center;

    .todolist-item{
        display         : flex;
        flex-direction  : row;
        justify-content : center;
        align-items     : center;

        .todolist-checkbox{
            width  : 30px;
            margin : 0 10px;
        }

        .todolist-item-text{
            width : 100%;
        }
    }
}