@import "../../common/Colors.scss"; 
@import "../../common/GlobalStyle.scss"; 

.mainPage-container{
    display        : flex;
    flex-direction : column;
    height         : 100%;
    background     : $black;
    justify-content : center;
    align-items     : center;
    
    .mainPage-info{
        display        : flex;
        flex-direction : column;
        justify-content : center;
        align-items     : center;

        .mainPage-info-icon{
            margin : 50px;
        }
    
        .mainPage-info-text{
            color : $white;
            font-family: 'OpenSans', sans-serif;
        }
    
        .mainPage-info-button{
            margin : 50px;
        }
    }
}
