$black       : #000000;
$lightBlack  : #444444;
$grey        : #919191;
$lightGrey   : #CFCFCF;
$vLightGrey  : #F4F4F4;
$white       : #ffffff;


:export {
    black       : $black;
    lightBlack  : $lightBlack;
    grey        : $grey;
    lightGrey   : $lightGrey;
    vLightGrey  : $vLightGrey;
    white       : $white;
}