// FONT-SIZES
$fs_main_title   : 36px;
$fs_second_title : 24px;
$fs_body         : 16px;

// FONT-WEIGHT
$fw_title : 700;
$fw_body  : 500;

// BUTTONS
$borderRad-button : 10px;
$borderRad-input  : 5px;
